root.dir=/Users/xcv58/wikipedia_indexer
dump.filename=WikiDump_1600.xml
tknizer.nthreads=1
tmp.dir=/Users/xcv58/tmp
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.PunctuationDefault
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.ApostropheDefault
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.HyphenDefault
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharsDefault
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DatesDefault
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentsDefault
stopword.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopwordsDefault
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopwordsDefault
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.NumbersDefault
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.CapitalizationDefault
#pswzyu:dictionaryx
#doc dic
dictionary.doc.filename=document_dictionary.txt
#term dic
dictionary.term.filename=term_dictionary.txt
