root.dir=/Users/xcv58/wikipedia_indexer/
dump.filename=WikiDump_1600.xml
tknizer.nthreads=1
tmp.dir=/Users/xcv58/tmp
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
spch.rule=edu.buffalo.cs.ir.wikiindexer.tokenizer.rules.SomeClass
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SomeClass
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.DatesDefault
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.AccentsDefault
stopword.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopwordsDefault
#pswzyu:dictionaryx
#doc dic
dictionary.doc.filename=document_dictionary.txt
#term dic
dictionary.term.filename=term_dictionary.txt
